//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 17 19:51:47 2019
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "button" LOCATE = SITE "M18" LEVEL 1;
COMP "reset" LOCATE = SITE "K18" LEVEL 1;
COMP "answer<0>" LOCATE = SITE "T18" LEVEL 1;
COMP "answer<1>" LOCATE = SITE "T17" LEVEL 1;
COMP "answer<2>" LOCATE = SITE "U18" LEVEL 1;
COMP "answer<3>" LOCATE = SITE "U17" LEVEL 1;
COMP "answer<4>" LOCATE = SITE "N16" LEVEL 1;
COMP "answer<5>" LOCATE = SITE "N15" LEVEL 1;
COMP "answer<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "answer<7>" LOCATE = SITE "P15" LEVEL 1;
NET "clk_IBUF" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

